@tailwind base;
@tailwind components;
@tailwind utilities;

.text-gradient {
  background-clip: text;
  color: transparent;
  background-image: linear-gradient(255deg, #3747a6 13.69%, #a15e92 99.34%);
}

@layer base {
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}
